
<div class="container">
    <div class="row">
      <div class="col-12">
        <nb-card class="font_family_roboto pgp-card_content">
          <nb-card-header class="font_family_roboto">Actualizar los datos del estado</nb-card-header>
          <nb-card-body>
            <div>
              <div class="row ml-0 mr-0">
                <form (ngSubmit)="fnEditData(editStateForm)" style="width: 350px;" #editStateForm="ngForm" aria-labelledby="title">
                  <div class="col-12 pl-0 pr-0">
                    <div class="form-group">
                      <label for="input-stateName">Nombre: </label>                                         
                      <input 
                      nbInput 
                      fullWidth 
                      #stateName="ngModel"
                      [(ngModel)]="state.nombre"
                      [status]="'info'"
                      [required]="true"
                      name="stateName" 
                      id="input-stateName" 
                      autofocus  
                      type="text"
                      class="form-control"
                      placeholder="Ingresa nombre del estado"
                      style="height: 45px;">
                    </div>
                    <div class="form-group">
                        <label for="input-stateDesc">Descripci&oacute;n: </label>                                         
                        <input 
                        nbInput 
                        fullWidth 
                        #stateDesc="ngModel"
                        [(ngModel)]="state.descripcion"
                        [status]="'info'"
                        [required]="true"
                        name="stateDesc" 
                        id="input-stateDesc"
                        autofocus  
                        type="text"
                        class="form-control"
                        placeholder="Ingresa descripcion del estado"
                        style="height: 45px;">
                      </div>
                  </div>
                    <button 
                        nbButton 
                        fullWidth 
                        type="submit"
                        status="info">
                        Guardar
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button 
                        nbButton 
                        fullWidth
                        status="info" 
                        style="background-color: gray; border-color: gray; color: white;"
                        (click)="fnCancelEditData()">
                        Cancelar
                    </button>
                </form>
              </div>
            </div>
          </nb-card-body>
        </nb-card>  
      </div>  
    </div>
  </div>