<div class="container">
    <div class="row">
      <div class="col-12">
        <nb-card class="font_family_roboto pgp-card_content">
          <nb-card-header class="font_family_roboto">Agregar nueva especialidad</nb-card-header>
          <nb-card-body>
            <div>
              <div class="row ml-0 mr-0">
                <form (ngSubmit)="fnAddData(addProfileForm)" style="width: 350px;" #addProfileForm="ngForm" aria-labelledby="title">
                  <div class="col-12 pl-0 pr-0">
                    <div class="form-group">
                      <label for="input-profileName">Nombre: </label>                                         
                      <input 
                      nbInput 
                      fullWidth 
                      #profileName="ngModel"
                      [(ngModel)]="specialty.nombre"
                      [status]="'info'"
                      [required]="true"
                      name="profileName" 
                      id="input-profileName" 
                      autofocus  
                      type="text"
                      class="form-control"
                      placeholder="Ingresa nombre de la especialidad"
                      style="height: 45px;">
                    </div>
                    <div class="form-group" *ngIf="access">
                      <label for="input-states">Estado: </label>
                      <ng-select 
                        [items]="collectionStates" 
                        bindLabel="nombre" 
                        bindValue="_id" 
                        [clearable]="false"
                        #states="ngModel"
                        [(ngModel)]="specialty.idEstado"
                        [ngModelOptions]="{standalone: true}"
                        id="input-states" 
                        placeholder="Selecciona estado">
                      </ng-select>
                    </div>
                    <div class="form-group">
                      <label for="input-profileDesc">Descripci&oacute;n: </label>                                         
                      <input 
                      nbInput 
                      fullWidth 
                      #profileDesc="ngModel"
                      [(ngModel)]="specialty.descripcion"
                      [status]="'info'"
                      [required]="true"
                      name="profileDesc" 
                      id="input-profileDesc"
                      autofocus  
                      type="text"
                      class="form-control"
                      placeholder="Ingresa descripcion de la especialidad"
                      style="height: 45px;">
                    </div>
                  </div>
                  <br>
                  <button 
                      nbButton 
                      fullWidth 
                      type="submit"
                      status="info">
                      Guardar
                  </button>
                  &nbsp;&nbsp;&nbsp;
                  <button 
                      nbButton 
                      fullWidth
                      status="info" 
                      style="background-color: gray; border-color: gray; color: white;"
                      (click)="fnCancelAddData()">
                      Cancelar
                  </button>
                </form>
              </div>
            </div>
          </nb-card-body>
        </nb-card>  
      </div>  
    </div>
</div>