<div class="row backgroud-layout pr-4">
    <div class="col-12">

      <div class="row">
        <div class="col-12 m-3">
          <h4 class="d-inline mb-3 mt-3 title">Solicitudes</h4>
          <!-- &nbsp;<i class="far fa-question-circle pgp-icon_help" (click)="fnOpenHelp( DATA_LANG?.lbTitle?.text, DATA_LANG?.lbDescForm?.text)"></i> -->
        </div>
        <div class="col-12 mb-2 ml-3 mr-3 mt-1">
          <p style="font-size: 16px !important;">
            Modulo que se encarga de listar las solucitudes pendientes por procesar.
          </p>
        </div>
      </div>
  
      <div class="row justify-content-between">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 text-left ml-3 mr-0 d-flex">
          <input 
            type="text" 
            nbInput 
            fullWidth
            placeholder="Buscar">&nbsp;&nbsp;
          <button 
            nbButton
            status="info">
            Buscar
           </button>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">
          <button 
            nbButton
            (click)="fnShowCreate()"
            status="info">
            Crear nuevo
          </button>
        </div>
      </div>
  
      <div class="row" id="data-container">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3 table-fix-head">
          <table class="table table-bordered data-table">
            <thead>
              <tr>
                <th colspan="2">Opciones</th>
                <th scope="col" class="text-left">
                  Estado
                  <span>
                    <i class="far fa-question-circle" nbTooltip="Texto" nbTooltipPlacement="top"></i>
                  </span>
                </th>
                <th scope="col" class="text-left">
                  Usuario
                  <span>
                    <i class="far fa-question-circle" nbTooltip="Texto" nbTooltipPlacement="top"></i>
                  </span>
                </th>
                <th scope="col" class="text-left">
                  Descripcion
                  <span>
                    <i class="far fa-question-circle" nbTooltip="Texto" nbTooltipPlacement="top"></i>
                  </span>
                </th>
                <th scope="col" class="text-left">
                  Especialidad
                  <span>
                    <i class="far fa-question-circle" nbTooltip="Texto" nbTooltipPlacement="top"></i>
                  </span>
                </th>
                <th scope="col" class="text-left">
                  Fecha Cración
                  <span>
                    <i class="far fa-question-circle" nbTooltip="Texto" nbTooltipPlacement="top"></i>
                  </span>
                </th>
                <th scope="col" class="text-left">
                    Fecha Modificación
                    <span>
                      <i class="far fa-question-circle" nbTooltip="Texto" nbTooltipPlacement="top"></i>
                    </span>
                  </th>
                  <!-- <th scope="col" class="text-left">
                    Fecha Inicio
                    <span>
                      <i class="far fa-question-circle" nbTooltip="Texto" nbTooltipPlacement="top"></i>
                    </span>
                  </th>
                  <th scope="col" class="text-left">
                    Fecha Fin
                    <span>
                      <i class="far fa-question-circle" nbTooltip="Texto" nbTooltipPlacement="top"></i>
                    </span>
                  </th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemData of collectionSolicitudes let i = index;">
                <td class="data-table-actions text-center">
                  <i class="fas fa-edit pointer text-warning" (click)="fnShowEdit(itemData)" nbTooltip="texto editar" nbTooltipPlacement="top"></i>
                </td>
                <td class="data-table-actions text-center">
                  <i class="far fa-trash-alt pointer text-danger" (click)="fnShowDelete(itemData)" nbTooltip="texto eliminar" nbTooltipPlacement="top"></i>
                </td>
                <td class="text-center">
                  <strong class="text-center" [ngClass]="{'text-success': (itemData?.estado == 'Activo'), 'text-danger': (itemData?.estado !== 'Activo')}">{{ itemData?.estado }}</strong>
                </td>
                <td>{{ itemData?.Usuario }}</td>
                <td>{{ itemData?.descripcion }}</td>
                <td>{{ itemData?.especialidad }}</td>
                <td>{{ itemData?.fechaCreacion | date: 'medium' }}</td>
                <td>{{ itemData?.fechaModificacion | date: 'medium' }}</td>
                <!-- <td>{{ itemData?.fechaInicio | date: 'medium' }}</td>
                <td>{{ itemData?.fechaFin | date: 'medium' }}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
  </div>
  
    