* {
    margin: 0;
    padding: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.menu {
    background-color: rgb(21, 68, 84);
}

.textoColor{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}


.listMenu {
    display: flex;
    justify-content: flex-end;
}

.carouselStyle {
    /* height: 800px; */
}





.containerOwnApp {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    padding-top: 15px;
 }
  
 .login-page {
   padding: 18% 0 0;
   margin: 0 auto 100px;
   max-width: 360px;
   position: relative;
 }
  
 .login-form {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
 }
  
 .login-form-header {
    padding-top: 16px;
 }
  
 .login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
 }
  
 .login-form-font-header {
    font-size:30px; 
    font-weight: bold;
 }
  
 .login-form-font-header span {
    color: #007C9B;
 }

 .btn-infoDM{
     color: white;
     background-color: #3483fa;
     border-color: #3483fa;
 }



.estiloFormulario{
    display: flex;
    padding: 100px 0px 0px 400px;
    width: 70%;
    align-items: center;
    border-color: black;
}
.centrar{  
    padding: 10px 0px 0px 400px;
}
.centrar2{
    padding: 10px 0px 0px 350px;
}

.divColmd12{
    background-color: rgb(199, 23, 23);
    color: white;
}

.contenido{
    margin-top: 100px;
    float: right;
}

.tituloQuienesSomos{
    text-align: center;
}

.parrafoUno{
    text-align: center;
    text-align: justify;
    padding: 30px;
}

.tituloParrafoDos{
    text-align: center;
}

.tituloParrafoTres{
    text-align: center;
}

.parrafoDos{
    padding: 30px;
}