<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top menu">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">
                <img src="../../../assets/img/LogoKH.jpg" alt="" width="210" height="80"
                    class="d-inline-block align-top" />
                <!-- <span class="textoColor"> Koombler INC </span> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse listMenu" id="navbarCollapse">
                <ul class="navbar-nav mb-2 mb-md-0">
                    <li class="nav-item">
                        <a routerLink="../contactenos" class="nav-link active fuenteNava">Contáctenos</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/home/index" class="nav-link active fuenteNava">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="contenido">
        <h1 class="tituloQuienesSomos">
            ¿QUIENES SOMOS?
        </h1>
        <p class="parrafoUno">
            Bienvenido a Koombler INC, nuestra empresa especializada en desarrollo web,
            trabajamos dia a dia con los mas altos estandares de calidad y actualizaciones
            de tecnologia, ofreciendole a nuestros clientes toda la asesoria completa de
            automatizacion de proyectos a ejecutar, transformamos las ideas de los clientes
            en realidades virtuales para la comodidad de la interfaz de usuario.
        </p>
        <h2 class="tituloParrafoDos">
            ¿Qué hace nuestra plataforma?
        </h2>
        <p class="parrafoDos">
            Es una plataforma dirigida a los profesionales en derecho,
            abogados con sus respectivos asistentes judiciales y a su vez personas del
            común que requiera encontrar un profesonal en derecho
            Cada uno de los usuarios de la plataforma contará con beneficios equitativos
            para lograr la buena experiencia de las partes que lo requieran.

        </p>
        <h2 class="tituloParrafoTres">
            Nuestro equipo de expertos
        </h2>
    </div>
    <div class="container marketing mt-4">
        <!-- Three columns of text below the carousel -->
        <div class="row UbicacionFotos">
            <div class="col-lg-4 text-center UbicacionFotosHijo">
                <img class="bd-placeholder-img rounded-circle" src="./assets/img/andresBernal.png" width="140"
                    height="140" alt="">
                <h2 class="textoColorNombre">Andrés Bernal</h2>
                <h3 class="cargoBootCamp">Scrum Team</h3>
                <p class="textoColorParrafo descripcion">
                    Bogotano, actualmente se desempeña como desarrollador web.
                </p>

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center UbicacionFotosHijo">
                <img class="bd-placeholder-img rounded-circle" src="./assets/img/diego.jpg" width="140" height="140"
                    alt="">

                <h2 class="textoColorNombre">Diego Muñoz</h2>


                <h3 class="cargoBootCamp">Scrum Team</h3>
                <p class="textoColorParrafo descripcion">
                    Bogotano actualmente se desempeña como desarrollador de software.
                </p>

            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 text-center UbicacionFotosHijo">
                <img class="bd-placeholder-img rounded-circle" src="./assets/img/dianaParra.png" width="140"
                    height="140" alt="">

                <h2 class="textoColorNombre">Diana Parra</h2>
                <h3 class="cargoBootCamp">Product Owner</h3>
                <p class="textoColorParrafo descripcion">
                    Bogotana, actualmente se desempeña como desarrolladora de software.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center UbicacionFotosHijo">
                <img class="bd-placeholder-img rounded-circle" src="./assets/img/german.jpeg" width="140" height="140"
                    alt="">

                <h2 class="textoColorNombre">German Pinilla</h2>


                <h3 class="cargoBootCamp">Lider tecnico</h3>
                <p class="textoColorParrafo descripcion">
                    Bogotano, actualmente se desempeña como desarrolladora de software.
                </p>

            </div>
            <div class="col-lg-6 text-center UbicacionFotosHijo">
                <img class="bd-placeholder-img rounded-circle" src="./assets/img/David.JPG" width="140" height="140"
                    alt="">

                <h2 class="textoColorNombre">David Rubiano</h2>


                <h3 class="cargoBootCamp">Scrum Master</h3>
                <p class="textoColorParrafo descripcion">
                    Zipaquireño actualmente se desempeña como desarrollo del software.
                </p>

            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <footer class="bg-dark text-center text-white mt-2">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" style="font-size : 18px"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" style="font-size : 18px"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-google" style="font-size : 25px"></i>
                </a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-instagram" aria-hidden="true" style="font-size : 25px"></i>
                </a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-linkedin" aria-hidden="true" style="font-size : 25px"></i>
                </a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-github" aria-hidden="true" style="font-size : 25px"></i>
                </a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; 2021–2022 Prorotype Koombler, Inc. &middot;
            <a class="text-white" href="#">Politica de privacidad</a>
            &middot;
            <a class="text-white" href="#">Terminos y condiciones</a>
        </div>
        <!-- Copyright -->
    </footer>
</main>